.custom2 .ui-igedit-field{ outline:0; border:1px solid #b09090; background: #f0e8e8; }
.custom2 .ui-igedit-textarea{ resize:none; overflow:auto; }
.custom2 .ui-igedit-hover{ background: #fff0f0; border-color:#a07070; }
.custom2 .ui-igedit-focus{ background: #fffff0; border-color:#905050; color:#703030; }
.custom2 .ui-igedit-bordercolor{ }
.custom2 .ui-igedit-buttonsimagestateoverride{ }
.custom2 .ui-igedit-negative{ color:#e00000; }
.custom2 .ui-igedit-nullvalue{ color:#998080; }
.custom2 .ui-igedit-disabled{ color:#a09090; }

.custom2 .ui-igedit-fieldincontainer{ height:18px; float:left; padding-top:0px; padding-bottom:0px; margin:0px; }

.custom2 .ui-igedit-spinholder{ display:inline-block; float:left; }
.custom2 .ui-igedit-spinbutton{ display:block; width:14px; height:8px; overflow:hidden; background:none; }
.custom2 .ui-igedit-spinbuttonimage{ margin-left:-1px; margin-top:-4px; display:block; }

.custom2 .ui-igedit-button{ display:inline-block; width:14px; float:left; height:18px; background:none; }
.custom2 .ui-igedit-buttondefault{ border:1px solid #b09090; background-color:#e0d0d0;  }
.custom2 .ui-igedit-buttonfocus{ border:1px solid #905050; background-color:#d8d0d0;  }
.custom2 .ui-igedit-buttonhover{ border:1px solid #a0a0a0; background-color:#d0b0b0;  }
.custom2 .ui-igedit-buttonpressed{ border:1px solid #808080; background-color:#d0c0c0;  }
.custom2 .ui-igedit-buttondisabled{ border:1px solid #a0a0a0; background-color:#e0e0e0;  }

.custom2 .ui-igedit-buttonimage{ display:block; width:16px; margin:0px; height:18px; background:center center url(images/downBlack.gif) no-repeat; filter:alpha(opacity=30); opacity:0.3; }
.custom2 .ui-igedit-buttonimagehover{ filter:alpha(opacity=60); opacity:0.6; }
.custom2 .ui-igedit-buttonimagepressed{  filter:alpha(opacity=100); opacity:1; }
.custom2 .ui-igedit-buttonimagedisabled{ filter:alpha(opacity=50); opacity:0.5; }

.custom2 .ui-igedit-spinlowerimage{ display:block; width:16px; height:16px; background:center center url(images/downBlack.gif) no-repeat; filter:alpha(opacity=30); opacity:0.3; }
.custom2 .ui-igedit-spinlowerimagehover{ filter:alpha(opacity=60); opacity:0.6; }
.custom2 .ui-igedit-spinlowerimagepressed{  filter:alpha(opacity=100); opacity:1; }
.custom2 .ui-igedit-spinlowerimagedisabled{ filter:alpha(opacity=50); opacity:0.5; }

.custom2 .ui-igedit-spinupperimage{ display:block; width:16px; height:16px; background:center center url(images/upBlack.gif) no-repeat; filter:alpha(opacity=30); opacity:0.3; }
.custom2 .ui-igedit-spinupperimagehover{  filter:alpha(opacity=60); opacity:0.6; }
.custom2 .ui-igedit-spinupperimagepressed{  filter:alpha(opacity=100); opacity:1; }
.custom2 .ui-igedit-spinupperimagedisabled{ filter:alpha(opacity=50); opacity:0.5; }

.custom2 .ui-igedit-roundedbutton{ -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }

.custom2 .ui-igedit-dropdown{ z-index:100000; font-size:0.8em; }
.custom2 .ui-igedit-list{ font-family:Verdana; font-size:0.8em; border:1px solid #b09090; padding-left:2px; cursor:default; }
.custom2 .ui-igedit-listitem{ background:#f0e8e8; padding-left:2px; cursor:default; }
.custom2 .ui-igedit-listitemhover{ background:#e8e0e0; font-weight:bold; }
.custom2 .ui-igedit-listitemselected{ background:#805020; color:#f0ffff;  }
.custom2 .ui-igedit-listitemcolumnborder{ border-right-width:1px; }
